@page
@model StaffPortal.API.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<h1><b>Welcome to the University Staff Portal</b></h1>

<div>
    <a href="Admin">Go to Admin Page</a>
    <br /><br/>
    <a href="View">View Staff Records</a>
    <!--<br /><br/>
    <a href="swagger/index.html">View API's</a>-->
</div>
